<app-navbar></app-navbar>
  <section class="headline">
    <div class="headline__image">
      <img src="../../assets/images/home-kit.png" alt="headline image">
    </div>
    <div class="headline__text">
      <h2>Easy to use</h2>
      <h2>COVID-19</h2>
      <h2>sample</h2>
      <h2>collection kit.</h2>
      <p>LifeBank has developed a simple personal sample collection kit that provides a convenient and reliable option for patient sample collection from the comfort and safety of their home.</p>
      <div style="display: flex; justify-content: space-around;">
      <button (click)="downloadFile()">Download Instruction</button>
        <figure style="margin-top: 50px;">
          <!-- <figcaption style="font-size: 1.5rem; margin-bottom: 10px; font-family: 'Noto Sans JP', sans-serif;">Listen to the instruction or download:</figcaption> -->
          <audio
              controls
              src="../../assets/audio/how-to-use.mpeg">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
      </figure>
    </div>
    </div>
  </section>

  <main>
    <section class="main">
      <div class="main__problem">
        <div class="main__problem-text">
          <div>
            <h1>Problem</h1>
            <p>Unfettered access to rapid and safe COVID-19 tests is one of the most critical factors in reducing the spread of the disease. There is a need for a simple collection method that promotes social distancing, reduces the load and pressure on the diagnostic centers and vastly increases the daily testing capacity of the diagnostic centers.</p>
          </div>
          <div style="margin-top: 20px;">
            <h1>Solution</h1>
            <p>LifeBank has developed a simple personal sample collection kit that provides a convenient and reliable option for patient sample collection from the comfort and safety of their home. It is a simple all-inclusive kit that contains all the necessary equipment to collect both nasal and oral swab samples viable for the COVID-19 RT-PCR Screening Test.</p>
            <p>Each box includes easy to understand instructions to guide you through sample collection, sample labelling, waste disposal and how to properly package your sample to return to the laboratory personnel for processing.</p>
          </div>
        </div>
        <div class="main__problem-image">
          <img src="../../assets/images/idea.jpg" alt="">
        </div>
      </div>
    </section>

    <section class="kit">
      <div class="kit__container">
        <div class="kit__container-text">
          <h1>Kit Components</h1>
          <ul>
            <li> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>One viral transmission medium</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>One Nasal Swab stick</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>One Oral Swab sticks</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>Two pairs of medical hand gloves</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>One Tongue Depressor</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>One Biohazard waste disposal bag</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>One simple to use Instruction guide.</li>
          </ul>
        </div>
        <div class="kit__container-text">
          <h1>Benefits</h1>
          <ul>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>Patients sampling and transport is safe and reliable</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>Your staff are protected from exposure to potential infection.</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>Ease of access to testing facilities for some groups, such as the elderly and the sick. </li>
            <li> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>Improved lead time with optimum cost-effectiveness.</li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 11c2.761.575 6.312 1.688 9 3.438 3.157-4.23 8.828-8.187 15-11.438-5.861 5.775-10.711 12.328-14 18.917-2.651-3.766-5.547-7.271-10-10.917z"/></svg>Restrict movement and reduce the person-person transfer of the virus by limiting contact.</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="delivery">
      <div class="delivery__content">
        <div class="delivery__image">
          <img src="../../assets/images/keke.png">
        </div>
        <div class="delivery__text">
          <h1>Get your kit!</h1>
          <p>You can order your kit by calling us on <b>09097167238</b> or Placing your order directly at covid.lifebank.ng/order-kit-plus-delivery.  You can either opt to pick up the kits yourself or have us deliver them to you using our contactless delivery system which completely removes any form of contact between your patients, our lab ninjas and your laboratory team.
          </p>
          <h3 style="margin-top: 20px;">Our delivery process flow is as follows:</h3>
          <ol>
            <li>Call center agents receives your request and assigns to a Lab Ninja</li>
            <li>Lab Ninja picks up your order and contacts you on the scheduled delivery day</li>
            <li>LabNinja rides to your doorstep.</li>
            <li>Lab Ninja calls you and further explains the terms of the delivery scheme - No contact, No exchange of items, Follow directions on the body of the vehicle.</li>
            <li>Once you step out, Lab Ninja opens the section where your kit(s) is by pressing a button</li>
            <li>You collect the kit from the kit section.</li>
            <li>Lab Ninja updates the delivery status and you get a notification!</li>
            <li>You confirm and rate delivery! </li>
          </ol>
        </div>
    </div>
    </section>
  </main>
<hr style="width: 100%;">
<footer>
     <a href="https://lifebank.ng" target="_blank">with <fa-icon [icon]="heart"></fa-icon> from Lifebank</a>
</footer>


