@import '../../global/abstracts/variables';
@import '../../global/components/button';
.headline {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 60px;
  width: 80%;
  align-items: center;

  &__image{
    width: 40%;

    img{
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    flex: 1;
    margin-top: -15px;
    margin-left: 50px;

    p{
      font-size: 1.8rem;
      color: $paragraph-color;
      letter-spacing: 0.1rem;
      width: 80%;
      line-height: 3rem;
      text-align: center;
      margin: 0 auto;
      font-family: 'Lato', sans-serif;
    }
  }
  h2{
    text-align: center;
    font-size: 3.1rem;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
  }
}

.main{
  margin-top: 150px;
  &__problem {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    display: flex;

    &-text {
      margin-right: 40px;
      p{
        font-size: 1.7rem;
        line-height: 2.7rem;
        color: $paragraph-color;
        text-align: justify;
        margin-top: 19px;
        font-family: 'Lato', sans-serif;
      }
      h1{
        font-size: 3rem;
        letter-spacing: 0.2rem;
        font-family: 'Lato', sans-serif;
      }
    }
  }
}

.links {
  margin-top: 20px;

  a {
    text-decoration: none;
    color: $black;
    font-size: 1.9rem;
    margin-right: 60px;
    border-bottom: 2px solid $primary-color;
  }
}

.contact__free {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  &-text{
    margin-top: 20px;

    p{
      font-size: 1.7rem;
      font-family: 'Lato', sans-serif;
      line-height: 3.5rem;
      color: $paragraph-color;
    }
  }

  h3{
    font-size: 4rem;
    letter-spacing: .4rem;
    font-weight: 550;
    font-family: 'Lato', sans-serif;
  }

  &-container{
    margin-top: 130px;
  }
}

.displayKit {
  display: block;
}

.kit{
  width: 100%;
  display: none;
  margin-top: 50px;
  &__container {
    padding: 50px 0px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    &-how{
      background-color: $primary-color;
      padding: 60px 70px;
      width: 55%;
      h1{
        text-align: center;
        color: $button-text--color;
        font-weight: 450;
      }
      p {
        margin-top: 20px;
        font-size: 1.7rem;
        color: $button-text--color;
        line-height: 3.3rem;
      }
      ul{
        margin-top: 20px;
        list-style: disc;
        font-size: 1.5rem;
        line-height: 3rem;
        font-family: 'Lato', sans-serif;
        color:$button-text--color;

        // li::before {
        //   content: "•"; color: white;
        //   margin-right: 30px;
        // }
      }
    }
    &-benefit {
      width: 40%;
      margin-left: 70px;
      margin-top: 60px;
      h1{
        text-align: center;
        color: $primary-color;
        font-weight: 450;
      }
      p {
        margin-top: 20px;
        font-size: 1.7rem;
        color: $button-text--color;
        line-height: 3.3rem;
      }
      ul{
        margin-top: 20px;
        list-style: disc;
        font-size: 1.5rem;
        line-height: 3rem;
        font-family: 'Lato', sans-serif;
        color: $primary-color;
        // li::before {
        //   content: "•"; color: red;
        //   margin-right: 30px;
        // }
      }
    }
    &-text{
      h1{
        font-size: 2.5rem;
        margin-bottom: 20px;
        margin-top: 20px;
        letter-spacing: 0.2rem;
      }
      ul{
        list-style: none;
        font-size: 1.7rem;
        line-height: 3rem;
        font-family: 'Lato', sans-serif;

        li::before {
          content: "•"; color: red;
          margin-right: 20px;
        }
      }
    }
  }
}
.delivery{
  margin-top: 100px;
  &__content{
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
  &__image{
    width: 80%;
    height: 80%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__text{
    margin-left: 70px;
    h1{
      text-align: center;
    }
    p{
      font-size: 1.5rem;
      color: $paragraph-color;
      line-height: 3rem;
      text-align: justify;
      margin-top: 30px;
    }
    ol{
      margin-left: 40px;
      margin-top: 20px;
      font-size: 1.4rem;
      line-height: 3rem;
      color: $paragraph-color;
    }
  }
}

.faq {
  margin-top: 60px;
  &__content{
    h1 {
      font-family: 'Lato' sans-serif;
      font-size: 3rem;
      font-weight: 450;
      text-align: center;
      margin-bottom: 30px;
    }
    width: 50%;
    margin: 0 auto;
  }
}
mat-expansion-panel{
  margin-top: 20px;
  p{
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
    line-height: 3rem;
  }
}
mat-panel-title{
  font-size: 1.8rem;
  font-weight: 450;
  font-family: 'Lato', sans-serif;
}

hr {
  margin-top: 20px;
  border: none;
  border-top: 2px double 	#E8E8E8;
  color: #333;
  height: 5px;
  width: 100%;
}

footer{
  justify-content: space-between;
  padding: 30px 100px;
  display: flex;
  a{
    margin: 0 auto;
    font-size: 1.5rem;
    color: $primary-color;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
}
//Styles for mini laptop
@media(max-width: 1780px) {
  .headline{
    width: 85%;
    &__text{
      p{
        font-size: 1.7rem;
      }
    }
  }
  .main__problem{
    width: 85%;
    &-text{
      p{
        font-size: 1.7rem;
      }
    }
  }
  .delivery__content{
    width: 85%;
  }
  .delivery__image{
    width: 200%;
  }
  .delivery__text{
    p{
      font-size: 1.8rem;
    }
    ol{
      line-height: 3.9rem;
      font-size: 1.8rem;
    }
  }
  footer {
    p{
      font-size: 1.6rem;
    }
  }
}

//Styles for Tablet

@media(max-width: 1510px) {
  .headline{
    width: 90%;
    &__text{
      h2{
        font-size: 4rem;
      }
      p{
        font-size: 1.7rem;
      }
    }
  }
  .main__problem{
    width: 85%;
    &-text{
      p{
        font-size: 1.7rem;
      }
    }
  }
  .delivery__content{
    width: 85%;
  }
  .delivery__image{
    width: 200%;
  }
  .delivery__text{
    p{
      font-size: 1.5rem;
    }
    ol{
      line-height: 3.9rem;
      font-size: 1.5rem;
    }
  }
  .kit__container{
    justify-content: space-between;
  }
  footer {
    p{
      font-size: 1.6rem;
    }
  }
}
@media(max-width: 1266px) {
  .headline{
    width: 90%;
    &__image{
      width: 40%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &__text{
      h2{
        font-size: 2.3rem;
        line-height: 6rem;
      }
      p{
        font-size: 1.5rem;
      }
    }
  }
  .main__problem{
    width: 85%;
    &-text {
      width: 57%;
      margin-right: 70px;
    }
    &-image{
      width: 40%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &-text{
      p {
        font-size: 1.6rem;
      }
    }
  }
  .contact__free{
    width: 75%;
  }
  .delivery__content{
    width: 85%;
  }
  .delivery__image{
    width: 200%;
  }
  .delivery__text{
    p{
      font-size: 1.5rem;
    }
    ol{
      line-height: 3.9rem;
      font-size: 1.5rem;
    }
  }
  .kit__container{
    justify-content: space-between;
  }

  .faq__content{
    width: 90%;
  }

  footer {
    a{
      font-size: 1.8r em;
    }
  }
}

@media(max-width: 1000px) {
  .headline{
    width: 95%;
    &__image{
      width: 40%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &__text{
      h2{
        font-size: 2rem;
        line-height: 4rem;
      }
      p{
        font-size: 1.5rem;
      }
    }
  }
  .main__problem{
    width: 90%;
    &-image{
      width: 40%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &-text{
      h1 {
        font-size: 2.3;
      }
      width: 50%;
      p {
        font-size: 1.4rem;
      }
    }
  }
  .delivery__content{
    width: 85%;
    align-items: center;
  }
  .delivery__image{
    width: 160%;
  }
  .delivery__text{
    p{
      font-size: 1.5rem;
    }
    ol{
      line-height: 3.5rem;
      font-size: 1.4rem;
    }
  }
  .kit__container{
    justify-content: space-between;
    &-text{
      ul {
        font-size: 1.5rem;
      }
      h1{
        font-size: 2.7rem;
      }
    }
  }
  footer {
    a{
      font-size: 1.7rem;
    }
  }
}

@media(max-width: 778px) {
  .headline{
    flex-wrap: wrap;
    width: 90%;
    margin-top: 25px;
    &__image{
      width: 80%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &__text{
      margin-top: 10px;
      width: 100%;
      margin-left: 0px;
      h2{
        font-size: 1.6rem;
        line-height: 4rem;
      }
      p{
        font-size: 1.5rem;
        width: 100%;
      }
    }
    button {
      margin-top: 20px;
      padding: 16px 50px;
    }
  }
  .main__problem{
    width: 90%;
    flex-wrap: wrap;
    &-image{
      width: 80%;
      margin: 0 auto;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &-text{
      width: 100%;
      h1 {
        font-size: 2.7rem;
        text-align: center;
        font-weight: bolder;
      }
      width: 50%;
      p {
        font-size: 1.4rem;
      }
    }
  }
  .main{
    margin-top: 70px;
    button {
      margin: 20px auto;
      display: block;
    }
  }
  .main__problem-text{
    width: 100%;
    margin-right: 0px;
  }
  .delivery__content{
    width: 85%;
    align-items: center;
  }
  .delivery__image{
    width: 160%;
  }
  .contact__free {
    width: 90%;
    &-container {
      margin-top: 70px;
    }
    h3 {
      font-size: 3rem;
    }
  }
  .delivery__text{
    p{
      font-size: 1.5rem;
    }
    ol{
      line-height: 3.5rem;
      font-size: 1.4rem;
    }
  }

  mat-panel-title{
    font-size: 1.5rem;
    font-weight: 450;
    font-family: 'Lato', sans-serif;
  }

  .kit__container{
    justify-content: space-between;
    flex-wrap: wrap;
    &-how {
      width: 100%;
      padding: 40px 30px;
    }
    &-benefit {
      width: 100%;
      margin-left: 10px;
    }
    &-text{
      ul {
        font-size: 1.5rem;
      }
      h1{
        font-size: 2.7rem;
      }
    }
  }
  footer {
    a{
      font-size: 1.3rem;
    }
  }
}

