@import '../../../global/abstracts/variables';
@import '../../../global/components/button';


.nav {
  padding: 5px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__mobile {
    display: none;
  }

  &__logo {
    width: 15%;
    height: 15%;

    img{
      width: 100%;
      height: 100%;
    }
  }

  ul{
    display: flex;
    list-style: none;
    font-size: 1.7rem;
    font-family: inherit;

    a{
      cursor: pointer;
      margin-left: 35px;
      transition: .3s ease;
      color: $black;
      font-size: 2rem;
      font-family: 'Lato', sans-serif;
      &:hover{
        color: $primary-color;
      }
    }
  }
}

//sticky navbar
.sticky {
  background-color: white;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;

}

@media(max-width: 1275px) {
  .nav {
    padding: 10px 50px;
  }
}

@media(max-width: 1000px) {
  .nav {
    padding: 10px 50px;

    ul{
      a{
        font-size: 1.7rem;
      }
    }
  }
}

@media(max-width: 900px) {
  .nav{
    &__logo {
      width: 30%;
      height: 30%;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .nav__links {
    display: none;
  }
  .btn{
    display: none;
  }
  .nav__mobile{
    display: inline;
  }
}

@media(max-width: 500px) {
  .nav{
    &__logo {
      width: 50%;
      height: 50%;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media(max-width: 363px) {
  .nav{
    padding: 10px 20px;
    &__logo {
      width: 60%;
      height: 60%;

      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

