/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 62.5%;
  width: 100%;
 }

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2.0rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}
